
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Produtos</h1>

<div class="mt-5 d-none" id="divResultado">

    <div class="row" id="bodyResultado">

    </div>
</div>


@section javascript {
    <script src="~/lib/HTTPClient.js"></script>
    <script src="~/js/views/produto/Listar.js"></script>
} 