
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Produtos</h1>

<div class="mt-5 d-none" id="divResultado">

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody id="bodyResultado">
            <!--Carregado por ajax-->
        </tbody>
    </table>
</div>


@section javascript {
    <script src="~/lib/HTTPClient.js"></script>
    <script src="~/js/views/produto/Listar.js"></script>
} 